<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="scan_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.1" length="0.06"/>
            </geometry>
            <material name="green" />
        </visual>
    </link>

    <joint name="base_scan_joint" type="fixed">
        <parent link="base_link"/>
        <child link="scan_link"/>
        <origin xyz="0 0 0.13" rpy="0 0 0"/> 
    </joint>

</robot>
